<div class="d-flex justify-content-center align-items-center flex-column h-75">
  <p class="text-light fs-4">View recent quizzes.</p>
  <a
    href="/dashboard"
    class="btn btn-primary btn-lg mb-3 d-flex justify-content-center align-items-center"
  >
    <ion-icon name="grid-outline"></ion-icon>&nbsp; Dashboard
  </a>

  <p class="text-light mt-3 fs-4">Create new quizzes.</p>
  <a
    href="/create"
    class="btn btn-success btn-lg d-flex justify-content-center align-items-center"
  >
    <ion-icon name="create-outline"></ion-icon>&nbsp; Create Quiz
  </a>
</div>
