<div class="d-flex justify-content-center align-items-center flex-column h-75">
  <a
    href="/create"
    class="btn btn-success btn-lg d-flex justify-content-center align-items-center my-3"
  >
    <ion-icon name="create-outline"></ion-icon>&nbsp; Create Quiz
  </a>

  <a
    href="/dashboard"
    class="btn btn-primary btn-lg d-flex justify-content-center align-items-center my-3"
  >
    <ion-icon name="grid-outline"></ion-icon>&nbsp; Dashboard
  </a>

  <a
    href="/reports"
    class="btn btn-danger btn-lg d-flex justify-content-center align-items-center my-3"
  >
    <ion-icon name="stats-chart-outline"></ion-icon>&nbsp; Reports
  </a>
</div>
