<form action="">
  <input type="text" class="form-control my-2" placeholder="Enter quiz name" />
  <select name="questionType" class="form-select" id="questionType">
    <option value="">Select type of question</option>
    <option value="multipleChoice">Multiple Choice</option>
    <option value="trueFalse">True of False</option>
    <option value="identification">Identification</option>
    <option value="enumeration">Enumeration</option>
  </select>
  <h1 id="text">123</h1>
  <div class="nani"></div>
</form>
