<div class="d-flex justify-content-center align-items-center flex-column h-75">
  <div class="w-100">
    <h1 id="title">Join a Game</h1>
    <form action="" method="POST">
      <div class="form-field">
        <label class="label">Display Name</label>
        <input id="name" type="text" name="name" required />
      </div>
      <br />
      <div class="form-field">
        <label class="label">Game Pin</label>
        <input id="pin" type="number" name="pin" required />
      </div>
      <br />
      <div class="form-field">
        <button type="submit" id="joinButton" class="btn btn-success">
          Join
        </button>
      </div>
    </form>
  </div>
</div>
