<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuBe | Dashboard</title>
    <link rel="icon" href="./assets/QuBe-Logo.png" />
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />

    <script>
      function delete_quiz(id) {
        swal({
          title: 'Are you sure?',
          text: 'Once deleted, you will not be able to recover this quiz.',
          icon: 'warning',
          buttons: true,
          dangerMode: true,
        }).then((willDecline) => {
          if (willDecline) {
            swal('Deleting...', {
              icon: 'info',
              timer: 2000,
              button: false,
            }).then(function () {
              window.location = '/api/quiz/' + id + '/delete';
            });
          }
        });
      }
    </script>
  </head>
  <body
    style="
      min-height: 100vh;
      height: 100%;
      min-width: 100vw;
      width: 100%;
      overflow-x: hidden;
    "
  >
    <header>
      <nav class="navbar navbar-expand-lg p-4">
        <div class="container-fluid">
          <a class="navbar-brand text-light fs-3" href="/">
            <img
              src="./assets/QuBe-Logo.png"
              alt="Logo"
              width="35"
              height="35"
              class="d-inline-block align-text-top"
            />
            QuBe
          </a>
          <span>
            <div>
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-light"
                    href="#"
                    data-bs-toggle="dropdown"
                    data-toggle="dropdown"
                    role="button"
                    aria-expanded="false"
                    aria-haspopup="true"
                    id="navbarDropdownMenuLink"
                  >
                    <img
                      src="<%=findUser.avatar%>"
                      width="40"
                      height="40"
                      class="rounded-circle"
                    />
                    &nbsp; <%=findUser.name%>
                  </a>
                  <ul
                    class="dropdown-menu dropdown-menu-end position-absolute"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    <li>
                      <a class="dropdown-item" href="/profile">Profile</a>
                    </li>
                    <li class="logout-btn">
                      <a
                        class="dropdown-item logout-btn"
                        href="/api/users/logout"
                        >Logout</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </span>
        </div>
      </nav>
    </header>

    <div class="container p-5">
      <a
        href="/home"
        class="btn btn-primary rounded-0 btn-lg text-light d-flex justify-content-center align-items-center mb-3"
        style="min-width: 100px; width: 150px"
        ><ion-icon name="arrow-back-circle-outline"></ion-icon>&nbsp;Back</a
      >
      <div class="row d-flex flex-wrap">
        <%-include('layouts/cardquestion.ejs')%>
      </div>
    </div>

    <script
      src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"
      defer
    ></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
  </body>
</html>
