<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | QuBe</title>
    <link rel="icon" href="./assets/QuBe-Logo.png" />
    <link rel="stylesheet" href="./css/home.css" />
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="logo">QuBe</div>
        <ul class="menu">
          <li><a href="/login">Login</a></li>
          <li><a href="/registration">Sign Up</a></li>
        </ul>
      </div>
      <div class="text">
        <h1>A Quiz Bee Competition Platform</h1>
        <p>This is some dummy text that can be change later on.</p>
        <a href="/">Join a Quiz</a>
      </div>
    </header>
  </body>
</html>
