<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuBe | Host</title>
    <link rel="icon" href="../../assets/QuBe-Logo.png" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />

    <script>
      const id = '<%=findQuestion._id%>';
      const user_id = '<%=findUser._id%>';
    </script>

    <style>
      * {
        user-select: none;
      }
      .type {
        width: auto !important;
      }

      .fixed-bottom1 {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1030;
      }

      .fixed-bottom2 {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1030;
        text-align: center;
      }

      .fixed-bottom2 a {
        text-decoration: none;
        color: red;
      }

      .outer-fit-this {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        height: 100% !important;
      }

      .fit-this {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        font-weight: bold !important;
        color: white !important;
        width: 45% !important;
        height: 225px !important;
        font-size: 2.5vmin !important;
        word-break: break-all;
      }

      @media (max-width: 768px) {
        .text-level {
          width: 75% !important;
          font-size: 2rem !important;
        }

        .fit-this {
          padding: 5px !important;
        }

        .text-question {
          font-size: 2rem !important;
        }
      }

      .name-text {
        font-size: 40px !important;
        margin: 10px 0 0 0 !important;
        font-weight: boder !important;
        text-transform: uppercase !important;
        color: #eeeeee !important;
      }

      .label-name {
        font-size: 28px !important;
        margin: 10px 0 0 0 !important;
        font-weight: boder !important;
        text-transform: uppercase !important;
        color: #eeeeee !important;
      }

      @keyframes float {
        0% {
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          transform: translatey(0px);
        }
        50% {
          box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
          transform: translatey(-20px);
        }
        100% {
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          transform: translatey(0px);
        }
      }

      .container2 {
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
      }

      .avatar {
        width: 125px !important;
        height: 125px !important;
        box-sizing: border-box !important;
        border: 5px white solid !important;
        border-radius: 50% !important;
        overflow: hidden !important;
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6) !important;
        transform: translatey(0px) !important;
        animation: float 6s ease-in-out infinite !important;
      }
      .top-img {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body
    style="min-height: 100vh; height: 100%; overflow-x: hidden"
    class="bg-dark"
  >
    <div
      class="d-flex justify-content-center align-items-center flex-column text-center"
      id="tie-id"
    ></div>
    <br />
    <div id="play-timer"></div>

    <div class="container-fluid my-5">
      <p
        class="text-center text-light"
        style="font-size: 4rem; font-weight: bolder"
        id="time-count"
      ></p>
      <br />

      <div
        class="d-flex justify-content-center align-items-center flex-column text-center"
        id="level-id"
      ></div>

      <div id="text-id"></div>
      <center><div id="img-id" class="w-50 mb-5"></div></center>
      <div id="correct-answer-id"></div>
      <div class="text-center" id="tof-id"></div>
      <div class="text-center" id="choices-id"></div>
      <div class="text-center" id="identification-id"></div>
      <div class="table-responsive" id="leaderboard-table-id"></div>

      <div class="text-center" id="top-leaderboards"></div>
      <div id="waiting-others"></div>
    </div>

    <div
      class="fixed-bottom1 m-3 bg-light w-auto p-3 d-flex justify-content-between align-items-center rounded"
      id="points-count"
      style="font-weight: bold; font-size: 1.5rem"
    >
      Score: 0
    </div>

    <div
      class="fixed-bottom2 m-3 bg-light w-auto p-3 d-flex justify-content-between align-items-center rounded"
      id="points-count"
      style="font-weight: bold; font-size: 1.5rem"
    >
      <a href="/home" class="" style="min-width: 100px; width: 150px"
        ><ion-icon name="arrow-back-circle-outline"></ion-icon>&nbsp;Exit</a
      >
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
      integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="../../modified-js/playerGame.js"></script>
    <script src="../../modified-js/antiCheat.js"></script>
  </body>
</html>
