<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/QuBe-Logo.png">
    <link rel="stylesheet" href="./css/signup.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Register | QuBe</title>
</head>
<body onload="registered()">
    <div class="container1">
        <div class="login-left">
            <div class="login-header">
                <h1>Welcome to QuBe</h1>
                <p>Please signup to use the platform</p>
            </div>
            <form class="login-form" action="/registration" method="POST">
                <% if(error !== "None"){ %>
                    <h5 class="alert alert-danger fs-6"><%=error%></h5>
                <%}%>
                <div class="login-form-content">
                    <div class="form-item">
                        <label for="firstname">Full Name</label>
                        <input type="text" name="name" id="firstname" required>
                    </div>
                    <div class="form-item">
                        <label for="type">Select Type</label>
                        <select name="type" id="type" required>
                            <option value="user" selected>User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="email">Enter Email</label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <!-- <div class="form-item">
                        <label for="phone">Enter Phone Number</label>
                        <input type="text" id="phone">
                    </div> -->
                    <div class="form-item">
                        <label for="password">Enter Password</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <button type="submit">Signup</button>
                    <p>Have an account? <a href="/login">Login</a></p>
                </div>
            </form>
        </div>
        
        <div class="login-right">
            <img src="./assets/QuBe-Logo.png">
        </div>

        <script>
            function registered(){
                '<% if(register){%>'
                swal({
                    title: "Registered Successfully",
                    text: "Please proceed to login.",
                    icon: "success",
                    timer: 2000,
                    button: false
                })
                '<%}%>'
            }
        </script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" defer></script>
</body>
</html>
